<div id="login-modal">

  <div id="login-modal-content">

    <div class="text-right">
      <a (click)="onNavigate()">
        <i class="fa fa-lg fa-times" aria-hidden="true"></i>
      </a>
    </div>

    <form #f="ngForm" (ngSubmit)="onLogin()">

      <div class="form-group">
        <label for="username">Username: Admin</label>
        <input id="username" name="username" type="text" [(ngModel)]="loginModel.username" class="form-control"
          placeholder="Enter username" required>
      </div>
      <div class="form-group">
        <label for="password">Password: PASSword@123</label>
        <input id="password" name="password" type="password" [(ngModel)]="loginModel.password" class="form-control"
          placeholder="Enter password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>
      </div>
      <div class="form-group">
        <button class="btn btn-secondary" (click)="onLogout()">Logout</button>
      </div>

    </form>

  </div>

</div>