
<modal id="login-modal">

  <div class="modal">

      <div class="modal-body">

            <form #f="ngForm" (ngSubmit)="onLogin()">
              Username: Admin<br>
              <input type="text" name="username" [(ngModel)]="loginModel.username" required>
              <br>
              <br>
              Password: PASSword@123<br>
              <input type="text" name="password" [(ngModel)]="loginModel.password" required>
              <br><br>
              <input class="btn btn-secondary" type="submit" [disabled]="!f.valid" value="Login">
            </form>
            <br>
            <button class="btn btn-secondary" (click)="onLogout()">Logout</button>
            <br>
            <br>

            <button (click)="onNavigate()" class="ml-auto">Close</button>
                
        </div>

  </div>  

      <a (click)="onNavigate()" class="modal-background"> 

      </a>

</modal>