

  #login-modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;  
    z-index: 9999;    
    overflow: auto;
    background-color: #000;
    opacity: 0.75;
  }

  #login-modal-content{
    position: relative;
    background-color: #FFFFFF;
    width: 95% !important;
    max-width: 440px;
    margin: 10% auto;
    color: #000;
    padding: 20px 20px 10px 20px;
  }

  #login-modal-content a{
    padding: 10px 10px 10px 20px;
    cursor: pointer;
  }