<div class="container">

  <form #f="ngForm" (ngSubmit)="onSubmit()">
    Username: Admin<br>
    <input type="text" name="username" [(ngModel)]="loginModel.username" required>
    <br>
    <br>
    Password: PASSword@123<br>
    <input type="text" name="password" [(ngModel)]="loginModel.password" required>
    <br><br>
    <input class="btn btn-secondary" type="submit" [disabled]="!f.valid" value="Login">
  </form>
  <br>
  <button class="btn btn-secondary" (click)="onLogout()">Logout</button>
  <br>
  <br>
  <form #fetch="ngForm" (ngSubmit)="onFetch()">  
    <input type="submit" value="Fetch">
  </form>
  <strong>
    Usernames:
  </strong>
  <p *ngFor="let name of names">{{ name }}</p>

  <br>
  <br>

  <button class="btn btn-info" (click)="onCreate()">Create Random Name</button>
  <p>{{ randomName }}</p>

</div>

