<div class="sidebar">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>


  <div class="nav flex-column">
    <div>
      <a class="nav-link active" href="#">Active</a>
    </div>
    <div>
      <a class="nav-link" href="#">Link</a>
    </div>
    <div class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false">Dropdown</a>
      <div class="dropdown-menu dropdown-menu-custom">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a>
      </div>
    </div>

    <div>
      <a class="nav-link" href="#">Link</a>
    </div>
  </div>

</div>


<div class="main">

  <nav id="topnav" class="navbar navbar-expand-lg">

    <button class="sidebar-toggler mr-auto" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class="row">

      <ul class="topnav-nav mr-auto">
        <li>
          <a href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a href="#">Features</a>
        </li>
        <li>
          <a href="#" (click)="openModal('custom-modal-1')">SIGN IN</a>
        </li>
      </ul>

    </div>

  </nav>

  <modal id="custom-modal-1" class="modal">

      <div class="modal-body">

        <div class="row">
          <div class="col-sm-10">
              <form #f="ngForm" (ngSubmit)="onSubmit()">
                  Username: Admin<br>
                  <input type="text" name="username" [(ngModel)]="loginModel.username" required>
                  <br>
                  <br>
                  Password: PASSword@123<br>
                  <input type="text" name="password" [(ngModel)]="loginModel.password" required>
                  <br><br>
                  <input class="btn btn-secondary" type="submit" [disabled]="!f.valid" value="Login">
                </form>
                <br>
                <button class="btn btn-secondary" (click)="onLogout()">Logout</button>
                <br>
                <br>  
          </div>
          <div class="col-sm-2">
              <button (click)="closeModal('custom-modal-1');" class="ml-auto">Close</button>
          </div>
        </div>  
      </div>
    
      <div class="modal-background"></div>
    </modal>

  <app-main></app-main>

</div>


<router-outlet></router-outlet>