/* 
body {
    overflow-x: hidden;
  }

@media(max-width: 992px){

    .sidebar{
        display: none !important;
    }
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: translateX(0);
    transition: all ease 0.25s;
    background-color: #343a40;
} */

/* .sidebar.closed{
    transform: translateX(-100%);  
} */

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #73879C;
  background: #F7F7F7;
}

.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;    
  overflow-x: hidden;
  transition: all ease 0.3s;
  background-color: #2A3F54;
}

.sidebar.folded{
  transform: translateX(-100%);
  transition: all ease 0.3s; 
}

.main {
  margin: 0 0 0 200px;/* Same as the width of the sidenav */
  padding: 0px;
  transition: all ease 0.3s;
}

.main.extended{
  margin-left: 0;
  transform: translateX(0);
  transition: all ease 0.3s;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
  text-decoration: none;
} 

@media screen and (max-width: 680px) {

  .sidebar{
      width: 100%;
      height: auto;
      position: relative;
  }

  .sidebar.folded{
    max-height: 0px;
  }

  .main{
      margin-left: 0px;
      margin-top: auto;
      position: relative;
  }

}

.dropdown-menu {
  position: static;
  float: none;
}

/***************  Top navbar  *************/

#topnav{
  padding: 0px;
  background:#EDEDED;
  border-bottom: 1px solid#D9DEE4;
}

ul.topnav-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.topnav-nav > li {
  display: inline;
}

.topnav-nav > li > a{
  /* display: inline-block; */
  padding: 16px;
  font-size: 25px;  
  text-decoration: none;
  color: #73879C; 
}

.topnav-nav > li > a:hover{
  background-color: #D9DEE4;
  text-decoration: none;
}






